<div class="relative w-full h-full">
    <div class="text-sm flex h-full gap-2 items-center cursor-pointer border-[#f6e8c8] bg-white border p-2 rounded-md" (click)="focusInput()">
        @for (item of selectedItems(); track `selected-${item.id}`) {
            <span class="flex gap-2 border border-[#f6e8c8] rounded-full px-2 py-0.5 items-center">
                {{ item.name }} <button class="cursor-pointer flex items-center justify-center w-5 h-5 border rounded-full p-0.5 border-[#f6e8c8]" type="button" (mousedown)="removeItem(item)">x</button>
            </span>
        }
        @if (!selectedItems().length) {
            <ng-content />
        }
        <span class="ml-auto text-gray-400 text-xs">▾</span>
    </div>
    @if (focused()) {
        <div class="absolute w-full bg-white border border-[#f6e8c8] rounded-md p-4 max-h-72 overflow-scroll z-10">
            <label for="multi-select-text">
                <input
                    #searchInput
                    class="flex w-full border p-2 border-[#f6e8c8] rounded-md"
                    [value]="query()"
                    (input)="updateQuery($event)"
                    id="multi-select-text"
                    placeholder="Select tags..."
                    (keydown)="onEnter($event)"
                />
            </label>
            @if (filteredItems().length > 0) {
                <div class="flex flex-col p-4 gap-2">
                    @for (item of filteredItems(); track `dropdown-${item.id}`) {
                        <div class="border-b border-[#f6e8c8] p-1 cursor-pointer" (mousedown)="$event.preventDefault()" (click)="toggleItem(item)">
                            <span>
                                {{ selectedSet().has(item.id) ? '✓' : '' }}
                            </span>
                            {{item.name}}
                        </div>
                    }
                </div>
            }
            @if (query() && !hasExactMatch()) {
                <div class="px-4 py-2 text-sm text-gray-500">
                    Press <kbd class="px-1 border rounded text-xs">Enter</kbd> to create "{{ query() }}"
                </div>
            }
        </div>
    }
</div>