<div class="grid h-full grid-cols-[3fr_minmax(0,1fr)] gap-4">
    <div class="flex flex-col gap-4 overflow-scroll max-h-max">
        @for (paragraph of clauses(); track `paragraph-${paragraph.paragraph_number}`) {
            <div class="flex-inline gap-2">
                @for (clause of paragraph.clauses; track clause.id) {
                    <span
                        [class.border]="selectedClause() === clause"
                        [class.bg-[#f6e8c8]]="!clause.label_id && selectedClause() === clause"
                        [class.bg-[#DEE7D5]]="clause.label_id"
                        [class.hover:bg-[#f6e8c8]]="!clause.label_id && selectedClause() !== clause"
                        class="px-0.5 py-0.5 mr-1 cursor-pointer rounded-md"
                        (click)="selectClause(clause)"
                    >
                        {{ clause.content }}
                    </span>
                }
            </div>
        }
    </div>
    <div class="border-l border-[#f2ede4] p-2">
        @if (selectedClause()) {
            <form [formGroup]="clauseForm" class="flex flex-col gap-4">
                <div class="border border-[#f2ede4] bg-white flex flex-col p-4 rounded-md">
                    "{{selectedClause()?.content}}"
                </div>
                <div class="flex flex-col">
                    Created at:
                    <div class="border border-[#f2ede4] bg-white p-4 rounded-md">
                        {{ selectedClause()?.created_at | date:'medium' }}
                    </div>
                </div>
                <div class="flex flex-col">
                    Updated at:
                    <div class="border border-[#f2ede4] bg-white p-4 rounded-md">
                        {{selectedClause()?.updated_at | date:'medium'}}
                    </div>
                </div>
                <div>
                    Label:
                    <multi-select
                        formControlName="labels"
                        [items]="labelOptionList()"
                        [limit]="1"
                        (createItem)="createLabel($event)"
                    />
                </div>
                <button class="border border-[#f2ede4] bg-white p-2 cursor-pointer" (click)="onSubmit($event)">Submit</button>
            </form>
        } @else {
            <div>Select a clause</div>
        }
    </div>
</div>