<div>
    <button class="border p-2 cursor-pointer border-[#f2ede4] bg-white rounded-md" (click)="openDialog()">Add new contract +</button>
</div>
@if (isOpen()) {
    <div class="fixed inset-0 bg-black/40 backdrop-blur-xs w-screen h-screen flex items-center justify-center z-50">
        <div class="flex flex-col bg-[#faf7f1] p-8 border border-[#f6e8c8] rounded-md">
            <div class="flex justify-between w-full items-center">
                <div>Add contract</div>
                <button class="border border-[#f6e8c8] rounded-md cursor-pointer p-2" (click)="closeDialog()">x</button>
            </div>
            <form [formGroup]="contractForm" class="flex flex-col gap-4 min-w-lg">
                <label class="flex flex-col">
                    Name
                    <input formControlName="name" class="border bg-white rounded-md border-[#f6e8c8] p-2" type="text" />
                </label>
                <label class="flex flex-col">
                    Tags
                    <multi-select
                        formControlName="tags"
                        [items]="tagOptionList()"
                        (createItem)="onTagCreate($event)"
                    />
                </label>
                <label class="flex flex-col">
                    Upload contract:
                    <input (change)="onFileChange($event)" class="border bg-white rounded-md border-[#f6e8c8] p-2 cursor-pointer" type="file" accept=".txt,.md" />
                </label>
                <button (click)="onSubmit($event)" class="border bg-white rounded-md border-[#f6e8c8] p-2 cursor-pointer">Submit</button>
            </form>
        </div>
    </div>
}